/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, q, figure, canvas, video, th, td, tr,fieldset, form, label, legend  {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}


/*all*/

html, body{
    height: 100%;
}

body {
    background: #fff;
    font-family: helvetica, arial, san-serif;
    color: #666;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

#container {
}

h1, h2 {
	color: #0E8B4D;
}

h3 {
	font-size: 0.8em;
}

h4 {
    color: #666666;
    font-size: 0.6em;
    margin: 1px 0 0;
    }

a, a:link, a:visited {
	color: #4169e1;
	text-decoration: none;
}

a:hover, a:active {
	color: #fba117;
	text-decoration: none;
}

.clearboth {
    clear: both;
}

.code {
    direction: rtl;
    unicode-bidi: bidi-override;
}

p {
	margin-top: 15px;
	text-align: justify;
}

.center {
	text-align: center;
}


/*header*/

#mainHeaderOutter {
	background: #eee;
	border-bottom: 1px solid #ddd;
	-moz-box-shadow: 0 0 3px 1px #eee;
	-webkit-box-shadow: 0 0 3px 1px#eee;
	box-shadow: 0 0 4px 1px #eee;
}

#mainHeader {
	height: 85px;
	margin: 0 auto;
	width: 980px;
}

#logo { 
	float: left;
}

#socialmediaicons {
	float: right;
	padding: 20px 0px 0px 0px;
}

nav {
    clear: right;
    float: right;
    font-size: 0.8em;
    font-weight: bold;
}
nav ul, nav ul li {
    list-style-type: none;
    padding: 15px 0 0 25px;
    text-transform: uppercase;
}
nav ul li {
    display: inline;
}
nav a, nav a:link, nav a:visited {
    color: #0E8B4D;
}
nav a:hover, nav a:active {
    color: #E58D1F;
    text-decoration: none;
}


.chromestyle {
    font-weight: bold;
    width: 99%;
}

.chromestyle:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.chromestyle ul {
    border: 1px solid #BBBBBB;
    margin: 0;
    padding: 4px 0;
    text-align: center;
    width: 100%;
}
.chromestyle ul li {
    display: inline;
}
.chromestyle ul li a {
    border-right: 1px solid #DADADA;
    color: #494949;
    margin: 0;
    padding: 4px 7px;
    text-decoration: none;
}
.dropmenudiv {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 1px 1px 0;
    font: 12px/18px Verdana;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 130px;
    z-index: 100;
}
.dropmenudiv a {
    border-bottom: 1px solid #F0F0F0;
    color: black;
    display: block;
    font-weight: normal;
    padding: 2px 0;
    text-decoration: none;
    text-indent: 3px;
    width: auto;
}
* html .dropmenudiv a {
    width: 100%;
}
.dropmenudiv a:hover {
    background-color: #F0F0F0;
}
/*SIDEBAR*/

#sidebar {
    background-color: #fff;
    width: 280px;
    float: left;
    margin: 15px 15px 30px 0px; 
}

#sidebarWhyPDH h2 {
    color: #555;
    font-size: 0.95em;
    padding: 4px 0px;
	font-weight: bold;
}

#sidebarWhyPDH ul, #sidebarWhyPDH ul li ul {
    background: #eee;
    vertical-align: middle;
    padding: 10px 10px;
    list-style: none outside none;
    font-size: 0.7em;
}

#sidebar ul, ol {
    background: #fff;
    vertical-align: middle;
	padding: 0px 10px;
	margin-bottom: 5px;
}

#sidebarWhyPDH ul li {
	margin-bottom: 5px;
	font-size: 1em;
    font-weight: none;
    list-style: circle inside none;
}


#sidebarWhyPDH a, #sidebarWhyPDH a:link, #sidebarWhyPDH a:visited {
   color: #444;
}

#sidebarWhyPDH a:hover, #sidebarWhyPDH a:active {
   color: #fba117;
}




/*Content*/
	
#content {
	width: 780px;
	float: right;
	margin: 25px 0px 30px 0px;
	font-size: 0.8em;
	line-height: 1.4em;
	padding: 0px;
}

	#content h1 {
		font-size: 1.6em;
		font-weight: bold;
	}

	#content h2 {
		font-size: 1em;
		color: #fba117;
		margin-top: 15px;
	}

	#content h3 {
		font-size: 1.2em;
		color: #444;
		margin-top: 20px;
	}

	#content h4 {
		font-size: 1.2em;
		color: #444;
		font-style: none;
	}

	#content ul li, #content ol li {
	    margin-left: 40px;
	}
	

/*footer*/
footer {
	clear: both;
	text-align: center;
	border-top: 1px solid #ddd;
	font-size: 0.7em;
	padding: 20px 0px 20px 0px;
	height: 110px;
	margin: 0 auto;
	width: 980px;
	}
	
	footer ul, footer ul li {
		list-style-type:none;
		display: inline;
		color: #707070;
	}
	
	footer a, footer a:link, footer a:visited{
		color: #707070;
	}
	
	footer a:hover, a:active {
	color: #fba117;
	text-decoration: none;
}
	
	#copyright {
		padding: 5px 0px 10px 0px;
		color: #707070;
	}

	#disclaimer {
		width: 800px;
		color: #707070;
    	font-style: italic;
    	margin: 0 auto;
	}